[2021-10-01 23:42] isaacolsen94 opened #11 "Configuration errors: db_exception_handler:"
**Describe the bug**
Installed the first time using v0.1.1, recieved a "Configuration error". Tried re-installing and wouldn't go away. Saw v0.1.2 was released so I updated to that the next day. When I reinstalled after the update it still gave me the same errors. I've pasted the output below.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete

[2021-10-02 09:36] bigcat88 commented on #11
Hi! Thanks you for this bug report.

Can you provide some more additional info about your configuration, for faster investigation.

1. As I see database are in another docker/container image or another pc, is that correct?
2. Can  you post  your `dbhost` value from nextcloud/config/config.php (ofc  with replaced sensitive data, just for us to understand what format of string is there) Do you have

[2021-10-02 10:29] bigcat88 commented on #11
Ok, we were able to reproduce this error(we forgot that port can be specified not in `dbport` but after ip in config), will fix soon.

[2021-10-02 15:32] isaacolsen94 commented on #11
Sorry I was asleep. I can confirm that my config file has the port listed with the ip address:
'dbhost' => '10.10.10.33:3306',

Do you need any more info from me?

[2021-10-02 21:53] bigcat88 commented on #11
No, we will post fix tomorrow or at Monday, thanks you for issue.

[2021-10-03 08:53] GrumpyMeow opened #13 "syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting ')' in /var/www/nextcloud/apps/mediadc/lib/Service/CollectorService.php:177"
**Describe the bug**
Yesterday I've installed the mediadc-app in my Nextcloud installation just after i'd upgraded to v21.0.5.
When i browse to my Nextcloud-web i receive an generic error screen.
To fix the error i tried to run: `sudo -u www-data php occ upgrade`

**To Reproduce**
Steps to reproduce the behavior:
1. Install mediadc app in Nextcloud v21.0.5
2. Run: sudo -u www-data php occ upgrade

[2021-10-03 09:46] andrey18106 commented on #13
Hi, thanks for your bug report.

That syntax error occurred because we are using some new PHP features that are available since PHP version 7.4 (that is described in requirements [here](https://github.com/andrey18106/mediadc/wiki/Installation). So you should upgrade your PHP to 7.4 or higher.

May be we'll rewrite code to support PHP 7.3 in a future updates.

[2021-10-03 11:46] bigcat88 commented on #13
Good catch, we missed php dependency in app/info.xml file with required version.

[2021-10-04 13:55] bigcat88 commented on #11
@isaacolsen94 fixed in 0.1.3

[2021-10-04 21:41] #11 closed

[2021-10-05 18:58] kovge opened #15 "Got Task error if examining files with non ascii names in path"
**Describe the bug**
I have files and folders named with non ascii characters in my nextcloud instance.
I created a job to examine some of my folders. I got really soon an error message with the following text:
"Exception(UnicodeEncodeError): `'ascii' codec can't encode character '\xe1' in position".
I retried to examine a folder with pure ASCII characters, than i had no issue.

**To Reproduce**
S

[2021-10-05 19:33] bigcat88 commented on #15
Thanks you for issue and pull request. Tomorrow will look closely.
Maybe there must be utf16/32, looks line in database there utf8mb4_bin Collation....

[2021-10-11 19:30] kovge commented on #15
Hi @bigcat88 I have tried you changes and i got the following error message:
`'ascii' codec can't encode character '\xe1' in position 69: ordinal not in range(128)`
Exception(UnicodeEncodeError): `'ascii' codec can't encode character '\xe1' in position 69: ordinal not in range(128)`

i added `.decode('utf-8')` after each `.encode('utf-8')`

as you see there in the screanshot the `á` is not an asci

[2021-10-11 20:15] bigcat88 commented on #15
@kovge
what LC_ALL and other LC_* environment variables values are in your system?
I just need replicate this issue locally...

[2021-10-11 20:22] Rothammel opened #20 "dependencie install fails"
![image](https://user-images.githubusercontent.com/42540450/136850793-69ae45fd-4ba2-46f6-b5d5-bca001326c59.png)

![image](https://user-images.githubusercontent.com/42540450/136851012-6c5a71db-e061-45c3-ae3a-f90eb50a5f7e.png)

[2021-10-13 10:25] kovge commented on #15
@andrey18106 , it was pretty fast. sorry that i could not answer so fast.
Yes. v0.1.5 works perfect.
Output for locale envorinment variables:
`LANG=en_US.UTF-8
LANGUAGE=
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC=de_DE.UTF-8
LC_TIME=de_DE.UTF-8
LC_COLLATE="en_US.UTF-8"
LC_MONETARY=de_DE.UTF-8
LC_MESSAGES="en_US.UTF-8"
LC_PAPER=de_DE.UTF-8
LC_NAME=de_DE.UTF-8
LC_ADDRESS=de_DE.UTF-8
LC_TELEPHONE=de_DE.UTF-8

[2021-10-20 14:11] Superharz opened #24 "Enabling MediaDC fails"
**Describe the bug**
Enabling ```MediaDC``` fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ```Apps```
2. Install ```MediaDC```
3. ```MediaDC``` is listed under ```Disabled Apps```
4. Clicking ```Enable``` does nothing. Multiple clicking brings the error: ```An error occured during the request. Unable to proceed```
4. See Nextcloud Log:

**Expected behavior**
```MediaDC``` is su

[2021-10-20 20:17] #24 closed, assigned to andrey18106

[2021-10-20 20:46] Superharz commented on #24
I had to manually install python and pip in the container.
But now it works.

[2021-11-03 16:34] LeoColman opened #27 "Add instructions to Alpine Linux/Docker"
A lot of nextcloud instances are installed in a docker or docker-compose environment.

We should have a setup guide on how to do that

[2021-11-03 17:29] andrey18106 commented on #27
@LeoColman Hi! Yea, we will surely write in our docs about how to adjust Docker Compose configuration to use MediaDC, in particular how to add Python 3 and other required packages (`distutils`, `ffmpeg`). We just need to learn and test all ourselves, keep on waiting)

[2021-11-25 23:52] xkill opened #28 "Cant find `dbtableprefix` value in cloud config"
**Describe the bug**
After performing the automated installation of deps I got the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install plugin
2. Go to MediaDC preferences
3. Click on "Check installation"
4. See error

**Expected behavior**
If the `dbtableprefix` is not defined get this value from default settings. In this case this value is `oc_`

**Desktop (please complete

[2021-11-26 09:26] bigcat88 commented on #28
Do you have in your config file located at NEXTCLOUD_FOLDER`/config/config.php` value `dbtableprefix` ?
https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/config_sample_php_parameters.html?highlight=dbtableprefix

[2021-11-26 11:23] xkill commented on #28
This is the work around. To manually add the dbtableprefix to the config.php, but the application should get the default value (if it is not defined) in order to work fine.

[2021-11-26 11:39] bigcat88 commented on #28
But it helps? Or problem is somewhere else?
I agree with you that it is a workaround, you are right, if it works when you add `dbtableprefix` then we know where to fix it, and will fix it.
Next update(with fix for shared directories scan and GUI improvements) planned  in close future, with  a couple of days.

[2021-11-28 13:33] GewoonYorick opened #29 "MediaDC fails to install"
**Describe the bug**
MediaDC fails to install and throws the error down below.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the install command / install through the store. (`occ app:install mediadc`)
2. Get an error:
[code]

**Expected behavior**
I expect the app to install without problems.

**Server:**
 - Docker: nextcloud:22.2.0
 - CPU x64
 - Nextcloud version: 22.2.0

[2021-12-01 12:15] GewoonYorick commented on #29
That docker nextcloud image uses PHP8 :)

[2021-12-01 19:43] bigcat88 commented on #29
@GewoonYorick
Can you remove hexhamming module? Look it wiki how to do so, we will release update soon(in a few days).
If you have any questions or it will not help, just write here or to telegram chat.

[2021-12-02 00:02] GewoonYorick commented on #29
I've removed hexhamming, issue still persist.

[2021-12-13 01:01] RedSackles opened #30 "Automatically open next duplicate group after closing the last one"
As a user having to review hundresds suggested deletions I find the tool great but the interface somewhat clunky to use.
When finished with one duplicate group it removes it from the list and you have to open the next one.
Depending on when you click the next duplicate group the list will jump on you as one duplicate group opens and the last one gets removed from the list.

The request is to
- hav

[2021-12-13 01:11] RedSackles opened #31 "In addition to delete have an ignore option"
When reviewing duplicate groups I come across images that are indeed rather similar but I still want to keep both images .

What I am missing is the option to ignore these duplicate groups as false-positive/ignored images and have the duplicate group drop from the list as resolved.
Preferably also have those false-positive/ignored images no longer show up in future jobs unless a new (not jet ignor

[2021-12-18 14:21] petervanderreest opened #32 "scan task returns error state"
Dear all,
thanks for your efforts on duplicate identification!
I have installed the software seemingly without any problems, but when a regular user runs a scan across her photo library, the task returns with an error. It would be great if the end user would be able to see some more info on the error that occured.
Now it is always up to the admin to go bug hunting. In small installations that's OK

[2021-12-20 13:32] dantefff opened #33 "Please add compatibility with Nextcloud V23"
**Description**
Please add compatibility with Nextcloud V23

**Example**
Nextcloud V23 is out, please add compatibility with it.

[2021-12-20 17:55] #28 closed

[2021-12-20 17:55] #33 closed

[2021-12-20 18:06] bigcat88 commented on #33
@dantefff We will post update in a few hours, you are free to reopen issue if problem still occurs.

[2021-12-20 18:07] bigcat88 commented on #32
@petervanderreest We will post update in a few hours, please check on it, and new version didn't solve it, provide a bit more info :)

[2021-12-20 18:08] bigcat88 commented on #30
@RedSackles we make some improvements in a new 0.1.8 version, w8 for comments. =)

[2021-12-20 18:09] bigcat88 commented on #28
@xkill Fixed in 0.1.8

[2021-12-20 18:11] bigcat88 commented on #29
@GewoonYorick you check 0.1.8 version and say if something was changed.

[2021-12-20 22:57] RedSackles commented on #30
Thank you. Looking forward to checking out the update.

[2021-12-21 13:21] GewoonYorick commented on #29
The error log has changed a bit:
[code]

[2021-12-21 13:32] bigcat88 commented on #29
@GewoonYorick Can you disable+remove MediaDC, then drop all MediaDC tables and it's record from `migrations` tables and repeat install?
MediaDC tables: oc_mediadc_photos , oc_mediadc_settings , oc_mediadc_tasks , oc_mediadc_tasks_details , oc_mediadc_videos
`DROP TABLE oc_mediadc_photos, oc_mediadc_settings, oc_mediadc_tasks, oc_mediadc_tasks_details, oc_mediadc_videos;`
Migration record are in ta

[2021-12-21 15:28] GewoonYorick commented on #29
I've removed mediadc, confirmed it was removed.
Dropped the tables above, and confirmed that they were dropped.
Removed the migration record for mediadc, and confirmed that it was removed.

After that I ran the install command again:
[code]

[2021-12-21 15:39] andrey18106 commented on #29
Did you tried install MediaDC via GUI? Seems like that's my flaw, there should additional not-null-check.

[2021-12-21 18:05] andrey18106 commented on #29
@GewoonYorick Reproduced this error.

If you want finally use MediaDC now, you can change [69 line of code](https://github.com/andrey18106/mediadc/blob/main/lib/Migration/AppUpdateStep.php#L69) from `if (count($installed['not_installed_list']['boost']) > 0) {` to `if (isset($installed['not_installed_list']['boost']) && count($installed['not_installed_list']['boost']) > 0) {`.

Let us know what the

[2021-12-21 18:40] GewoonYorick commented on #29
Hi there,

I've applied the suggested change and it installs and enables mediadc without errors now.

Thank you for your help :)

[2021-12-22 10:08] timbeglinger commented on #27
On Nextcloud 23 with **Postgres 13**, this Dockerfile works for me:

[code]

With **mysql/mariadb**, it should probably be:
[code]

[2021-12-22 12:43] andrey18106 commented on #29
Updated latest release (0.1.8) with this bug fix. Closing issue.

[2021-12-22 12:43] #29 closed

[2021-12-23 11:35] ykutovoy opened #35 "Cant find value in cloud config"
**Screenshot**
![image](https://user-images.githubusercontent.com/13015154/147230501-546ded41-ba5f-4bb4-a18d-17eca2dd5b98.png)

**Describe the bug**
After installing application getting this kind of errors.

Looks like app try to find config in some kind default location

**Desktop (please complete the following information):**
 - OS Description:    Ubuntu 20.04.3 LTS
 - CPU:  Intel(R) Core(TM) i5

[2021-12-23 11:49] bigcat88 commented on #35
@ykutovoy
In future versions(probably 0.2.0, we are currently working on that technique) there will be no such things as reads from config at all.
In current versions we dont read from config directly, we call nextcloud's `occ` to do that.
Can you post here what `occ` return for that?
`sudo -u www-data php /pathtonextcloufdoler/occ config:system:get datadirectory`
if nextcloud is in /var/www then

[2021-12-23 12:19] ykutovoy commented on #35
For sure:
[code]

You can see that i've used inline definition **--define apc.enable_cli=1**
it is an issue for other app (face recognition) which conflicts with this definition

without this it drops like this:
[code]

[2021-12-23 12:22] ykutovoy commented on #35
I'm ready to add path directly to file, if You will say where :)
Wile we waiting for the next release.

[2021-12-23 12:56] bigcat88 commented on #35
So you have partially broken NC instance(`occ` is a official tool) and ask why our app is no working =)
We will not fix this, when we will go away from use `occ` a, your problem will bee solved.

You can change file `occ_cloud.py`, line 87. This is code that call's `occ`.
Change `success, result = php_call(OCC, '--no-warnings', occ_task, *params, decode=decode)`
to
`success, result = php_call('--d

[2021-12-23 13:20] ykutovoy commented on #35
<img width="302" alt="image" src="https://user-images.githubusercontent.com/13015154/147245942-efe5fd7d-b6ab-4582-9cbe-281d2cc93752.png">

Thank You now it works
unfortunately I'm just a USER (may be a bit advanced) :)

If it will be interesting for anybody, I can try to find that issue...
at the moment Yours app works perfect

[2021-12-23 13:51] ykutovoy opened #36 "Batch working on results of tasks"
<img width="667" alt="image" src="https://user-images.githubusercontent.com/13015154/147248011-1f7143b5-6df7-41d3-85cb-f0c222b53a87.png">

**Description**
As You can see on screenshot I've got a plenty of groups in this task.
**It would be nice to add checkbox "Select ALL"**

Also pay attention that on screen we have 4 marks, but in Batch menu (right corner) 8 selections
It happens when I searched

[2021-12-23 14:10] andrey18106 commented on #36
@ykutovoy Thanks you for your remarks. We will think about it, good suggestions.

[2021-12-24 09:34] ykutovoy opened #37 "Additional UI buttons"
**Recent Tasks**
img_1
<img width="308" alt="image" src="https://user-images.githubusercontent.com/13015154/147337605-c6f64d0f-5793-4464-9b63-2ab525287251.png">
img_2
<img width="111" alt="image" src="https://user-images.githubusercontent.com/13015154/147337962-dbb34474-db09-41ef-a2a1-4431a0051a1e.png">
img_3
<img width="285" alt="image" src="https://user-images.githubusercontent.com/13015154/1473

[2021-12-24 09:52] ykutovoy opened #38 "Group number in results"
first run
![image](https://user-images.githubusercontent.com/13015154/147341683-d4ac1689-e21d-4a46-86f0-f794b7ac94b9.png)

next run
<img width="404" alt="image" src="https://user-images.githubusercontent.com/13015154/147342023-6272da6e-5faf-43da-9735-53abed6fb02e.png">

I'm not sure, if it is a bug, but
If You restart task, resulting groups numbers not starting from beginning, but increments from

[2021-12-24 13:13] andrey18106 commented on #38
@ykutovoy No, it's not a bug, that's because for each task run old details are deleted and therefore for the new details we have new ids.

[2021-12-24 13:28] ykutovoy commented on #38
I think it is not a problem, but if we deleting old details, why not we deleting the numbers of that details?
Just starting from 1 on each restart?

[2021-12-24 13:30] andrey18106 commented on #37
@ykutovoy

1. Yea, I though about sub-menu in Tasks list like on Task Details page, will add it in a future update.

2. About misunderstanding what Delete button in Task status sub-menu do - I don't think so, found duplicated groups releates only to one Task, so deleting the Task removes all their duplicate groups too (there is no need to save them, because they are re-created pretty fast when pho

[2021-12-24 13:33] andrey18106 commented on #38
@ykutovoy That's because of database structure. It's a unique id that auto increments every time.

[2021-12-24 13:42] ykutovoy commented on #38
Ok thank You for explanation.
I understand that it lead to much work for You, but may be it is possible convert that unique numbers to correct group numbers in particular task?
something like...
#1548 -> #1
#1549 -> #2
and so on according to actual number of groups

It would be a bit user-friendly :)

[2021-12-24 13:48] andrey18106 commented on #38
Yea, ok, I'll think about it) Good suggestion.

[2021-12-24 13:54] ykutovoy commented on #37
2. Sorry but from Your description :), I'm not understand, again

Is it correct? Delete all found groups (aka hashes?) without file deletion

If Yes, You can add "Mouseover" description like on first img (I think it could be far enough)

![image](https://user-images.githubusercontent.com/13015154/147356986-407e6a8f-d1a4-482c-890d-7d1f243410d4.png)

![image](https://user-images.githubusercontent.co

[2021-12-24 14:03] andrey18106 commented on #37
Ah, there wasn't group delete icon on the first images. On Task status sub-menu (restart, edit, stop, delete) - delete button means deleting the task and of course releted groups (without deleting files).

Delete button on duplicate group means partially the same - delete this duplicate group (without deleting files), this action in a future will place files from removed groups in a "resolved list

[2021-12-24 14:26] ykutovoy commented on #37
To tell the truth I've found group delete icon when started discuss wit You :)

About "wouldn't be scanned"
If i will create new task or edit current with other params (for instance precision from 90% to 95%), wouldn't "resolve list" affect the task
If "resolve list" going to be separate object how it will affect future scans?

[2021-12-24 15:28] andrey18106 commented on #37
I mean, in a future updates such option will be there. For now it just removes it, and the same group will appear in the new Tasks if those file exists yet.

[2021-12-27 01:00] RedSackles opened #39 "Auto open next group not working in Firefox 95.0.2 (64-bit)"
First of, great that you implemented this so fast. It will save me so many clicks, thank you.

Auto open next group not working in Firefox 95.0.2 (64-bit)
When using MediaDC in Firefox 95.0.2 (64-bit) the resolved duplicate group is closed but the next one is not opened automatically despite it being set in the settings. In Chrome this functionality works just fine.
I noticed this on my win10 PC

[2021-12-27 08:05] andrey18106 commented on #39
@RedSackles I have tested it on Firefox 95.0.2 (64-bit, Windows 11) - works fine. Try to clean cache on Firefox browser.

[2021-12-27 09:38] RedSackles commented on #39
Oh that is embarrassing.
Yes that resolved the problem in firefox.

[2021-12-27 09:38] #39 closed

[2021-12-28 08:40] ykutovoy opened #40 "Any file comparison"
Dear friends.
Is it possible to use your hash comparison  mechanism to find duplicates of other type files?

For instance add MimeType  "other files"
if selected  _other_ , hide field with "Similarity threshold" and set 100%

[2021-12-28 09:13] bigcat88 commented on #40
No, that is not possible. This is not a crypto hash functions, this is a `perceptual` hashes.
There is two links in our wiki about how they works.

It is possible to find similarity between texts or music files, using another algorithms. But that will be another app :)
We are currently work on a very interesting project that will allow a very easy development of apps for Nextcloud with python part

[2021-12-28 10:23] ykutovoy commented on #40
It is almost magic for me :) (Links with math of hashes)

As I said in other issue, I'm not programmer, just user, and can not do anything without Your help ) And even if You create such cool app which simplifies creation of apps, it would be extra hard for me :(

But it looks natural for me to give user ability to choose between simple crypto hashes or perceptual hashes
may be it will add some he

[2021-12-29 15:47] cyb31 opened #41 "Task errors"
there is a task error when I run task for vidéos

![Capture d’écran 2021-12-29 164430](https://user-images.githubusercontent.com/45168044/147679345-4e2f9a39-0b98-4895-ad46-5adb55ceede4.png)

I just choose a folder with default setting and video type. For photos, there is no problem, that's works fine.
Do you know what is the bug?

Thanks ;-)

[2021-12-29 15:59] andrey18106 commented on #41
@cyb31 Video processing requires `ffmpeg` package, that can't be installed automatically (in this case appropriate message displayed on Configuration page). Administrator should install it manually on server.

[2021-12-30 09:29] cyb31 commented on #41
Hello,
`ffmpeg` package installed and that works fine, thank you!

[2021-12-30 09:29] #41 closed

[2022-01-11 19:49] svenb1234 opened #42 "MediaDC fails to install numpy, pywavelets (Python 3.7)"
**Describe the bug**
MediaDC fails to install hexhamming with the error log below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
All needed packages should be installed.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/46424536/149011015-7ac0101f-130e-4163-bed4-3a236c61f31f.png)

[2022-01-11 20:17] bigcat88 commented on #42
Can you somehow update python in docker to 3.8 version?
Looks like these packages are not available for arm for python 3.7.

What i found from quick search is this article(it is for Ubuntu but may work for Debian):
[Ultimate Python installation on a Raspberry Pi & Ubuntu Script](https://itheo.tech/ultimate-python-installation-on-a-raspberry-pi-and-ubuntu-script)
or
[Install Python 3.9 on Raspberry

[2022-01-12 05:29] pricly-yellow opened #44 "Can't connect to postgresql socket"
**Describe the bug**
Try to install MediaDC first time, all python libraries installed correctly with autoinstall, nextcloud db config for postgres like this:
"dbtype"        => "pgsql",
"dbname"        => "nextcloud",
"dbuser"        => "username",
"dbhost"        => "/var/run/postgresql",
"dbport"        => "",
"dbtableprefix" => "oc_",
"dbpassword"    => "password",

**Desktop (please complete

[2022-01-12 10:46] bigcat88 commented on #44
@pricly-yellow Good issue, nice formatting, easy to read.
That's my mistake :(
We will not release a new version soon(not in a few days), we need more bugs/fixes for that.
As quick fix you can change path from
`"dbhost" => "/var/run/postgresql",`
to
`"dbhost" => "/var/run/postgresql\",`

or you can change a code in file `MediaDC/lib/Service/python/db/manager.py` like in linked pull request.

[2022-01-12 13:09] Bennneeeet opened #45 "Can't connect to Database (MariaDB, Docker)"
I've got an error during the installation / installation check.

I'm using:
- Docker
- Nextcloud 23.0.0
- MariaDB 10.5
- Media DC 0.1.8

That all runs on a Raspberry Pi 4B 8GB with a Ubuntu Server environment.

I've already looked through some issues here, but can't find a "simple" solution. So I think(hope that this issue can help others too.

That is the error log in the UI of Media DC:
<img wid

[2022-01-12 13:41] bigcat88 commented on #45
@Bennneeeet can you show value(not a real one, you can replace it with xxx or some random, just to understand) for `dbhost`
Looks like a bug in parsing code, it tries to use unix socket when must use network connection....

[2022-01-12 13:53] Bennneeeet commented on #45
@bigcat88 sure:
[code]

[2022-01-12 14:32] bigcat88 commented on #45
@Bennneeeet can you comment line 101 in file `MediaDC/lib/Service/python/db/manager.py`  and check will it helps with db connect?

This one in `dev` branch(in 0.1.8 store version it is line 101): https://github.com/andrey18106/mediadc/blob/d60203b272e311c0399dc0db108cd3dfeceb02ff/lib/Service/python/db/manager.py#L102

from this:
`config['dbhost'] = ''`
to this:
`# config['dbhost'] = ''`

[2022-01-12 14:53] Bennneeeet commented on #45
With this change it works.
No errors occurred when checking the installation, and a test task also ran well. 👍

Great and fast support/hot fix - thank you.

[2022-01-12 15:14] bigcat88 commented on #45
For other who will face the same problem, you can fix it with changing sources till update or add a port to `dbhost`, like this:
`'dbhost' => 'db_nc:3306'`

[2022-01-17 14:48] romprod commented on #27
I've tried both your dockerfile's above but I get the following error when building.

I can download both tar files successfully on the same host etc.

`Building nextcloud
Sending build context to Docker daemon  2.048kB
Step 1/6 : FROM nextcloud:23.0.0-fpm-alpine
 ---> 133f789a3fd7
Step 2/6 : RUN set -ex;         apk add --no-cache     ffmpeg     imagemagick     supervisor     py3-numpy     py3-pi

[2022-01-17 21:45] svenb1234 opened #46 "Add simple mode "find duplicate filenames""
**Description**
The easiest duplicates are those that have the same filename and filesize. However currently there is no way to restrict the search to only find these kind of duplicates.

**Example**
Due to several backups and copies, duplicate files/pictures and videos are scattered all over the system. In order to find those duplicates it would be helpful to restrict the search to identical file

[2022-01-23 12:53] kotjarka opened #47 "Error: Out of range value for column duration"
After running some bigger task MediaDC returned error:

Task errors
Exception(DataError): `(1264, "Out of range value for column 'duration' at row 1")`

Task info:
Photos&Videos 59318/60177 files (229.14 GB) (precision: 90%)

[2022-01-27 08:43] bigcat88 commented on #47
@kotjarka can you add 2 lines of code like in commit  and says if the error is gone?

[2022-01-27 16:03] sergeng commented on #41
FFMPEG built from source
ubuntu$ whereis ffmpeg
ffmpeg: /usr/bin/ffmpeg /usr/local/bin/ffmpeg /home/ubuntu/bin/ffmpeg /usr/src/ffmpeginstaller.9.1/ffmpeg.sh

Still complaining
Video processing won't work, video_required packages not installed.
Not installed video_required packages: [ "ffmpeg", "ffprobe" ]
video_required packages can't be installed automatically, this should be done by administrato

[2022-01-27 16:06] bigcat88 commented on #41
@sergeng execute `sudo -u www-data ffmpeg` to see if user www-data can see it.

[2022-01-27 16:06] sergeng opened #48 "ffmpeg ffprobe built from source not found"
FFMPEG built from source
ubuntu$ whereis ffmpeg
ffmpeg: /usr/bin/ffmpeg /usr/local/bin/ffmpeg /home/ubuntu/bin/ffmpeg /usr/src/ffmpeginstaller.9.1/ffmpeg.sh

Still complaining
Video processing won't work, video_required packages not installed.
Not installed video_required packages: [ "ffmpeg", "ffprobe" ]
video_required packages can't be installed automatically, this should be done by administrato

[2022-01-27 16:39] sergeng commented on #41
my nginx server username is nginx so
ubuntu$ sudo -u nginx ffmpeg
ffmpeg version N-103105-gb9176dbfb7 Copyright (c) 2000-2021 the FFmpeg developers
  built with gcc 9 (Ubuntu 9.3.0-17ubuntu1~20.04)
  configuration: --prefix=/home/ubuntu/ffmpeg_build --pkg-config-flags=--static --extra-cflags=-I/home/ubuntu/ffmpeg_build/include --extra-ldflags=-L/home/ubuntu/ffmpeg_build/lib --extra-libs='-lpthread

[2022-01-27 16:46] bigcat88 commented on #48
@sergeng
wow amazing output, is it it's version? --> `N-103105-gb9176dbfb7`

can you please run `sudo -u nginx ffprobe -version`

[2022-01-27 17:09] bigcat88 commented on #48
@sergeng you can make changes like in commit(with hands or just replace them from dev branch entirely) and say if it helps.

[2022-01-30 11:33] kotjarka commented on #47
@bigcat88 added 5 lines and i can confirm that bug seems to be solved.
Task finished with success, but i should mention that i only re-runed task, not deleted it and started again.
If i should delete it prior and start from scratch for proper testing please tell me, for my low-power srv it will take some time.
Big thanks for your job.

[2022-01-30 12:17] bigcat88 commented on #47
@kotjarka no, if it was finished I thinks it is ok. You are free to open new issue if any other problems will occur.
Note: second time it will run much faster till you not change hash algo or hash sizes.

[2022-01-31 09:47] bcutter opened #49 "Installation not possible - requirements mismatch"
**Describe the bug**
Installing the app using NC App Store is not possible: „…because the following requirements are not met: 64 bit or higher php required.“ But all requirements stated on https://github.com/andrey18106/mediadc/wiki/Installation#requirements are met. Does this app require 64 bit OS?

System:
- PHP 8.0
- Python 3.7.3
- Nextcloud 22
- MariaDB
- 32 bit OS

[2022-01-31 10:48] andrey18106 commented on #49
@bcutter Yes, this app require 64bit (not all required binaries available for 32bit). Didn't updated that in docs.

[2022-01-31 11:07] bcutter commented on #49
Okay thank you for clarifying and updating the requirements section.

[2022-01-31 11:07] #49 closed

[2022-02-01 13:11] sergeng commented on #48
@bigcat88 working flawlessly after your commit!
Best support ever 🥇

No Error message on configuration page, see:
<img width="681" alt="2022-02-01_22-06-39" src="https://user-images.githubusercontent.com/8804826/151974495-9b1b69d7-cbe0-40ae-b76a-27d0727070a4.png">

Video job running smoothly, see:
<img width="702" alt="2022-02-01_22-07-07" src="https://user-images.githubusercontent.com/8804826/151

[2022-02-01 13:24] sergeng opened #50 "Global duplicate file search"
If legal (opt-in by jurisdiction),
add capability for admin to duplicate search across all "opt-in" accounts files and automatically send users duplicates file mediadc task details.

[2022-02-01 13:44] bigcat88 commented on #35
@dagguh for snap users it a bit different situation,  it much more complex. we will start to support snap installations from 0.2.0 or 0.2.2 version, just be give us time.

[2022-02-02 18:55] bigcat88 commented on #42
@svenb1234 can you please provide a link to docker image you use? We will look at it closer, after that.

[2022-02-02 22:27] 2br-2b commented on #35
I can confirm. I have NC installed via Snap and I have the same issue. Looking forward to sorting out the 150+ gb of files in my photos!

[2022-02-13 04:58] HammyHavoc opened #51 "Error installing Python packages"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Click `Install` on the `/apps/mediadc/configuration` after enabling

**Expected behavior**
To install the packages.

**Desktop (please complete the following information):**
 - OS [e.g. iOS] - Windows
 - CPU (architecture) - N/A
 - Browser [e.g. chrome, safari] - Firefox

[2022-02-14 11:50] bigcat88 commented on #51
@HammyHavoc result_code: 127 == Python not found.
Python must be installed in Docker image(until we release 0.2.0 or 0.2.1 version, that will eliminate that requirement)
If you give more info what docker image you use we can say you with which commands you can install python.

[2022-02-16 01:59] kevinkuan1969 opened #53 "Settings list is empty & Internal Server Error"
Nextcloud 22.2.3
Python 3.8.10
Ubuntu 20.14
MySQL  8.0.28
PHP 7.43

An unhandled exception has been thrown:
OCP\AppFramework\Db\DoesNotExistException: Did expect one result but found none when executing: query "SELECT * FROM `*PREFIX*mediadc_settings` WHERE `name` = :dcValue1";  in /var/www/nextcloud/lib/public/AppFramework/Db/QBMapper.php:283

[2022-02-16 21:17] ibib commented on #53
Is for reproducible under a fresh nextcloud installation.
Error occurs after trying to log on after installing mediadc.

[2022-02-17 09:28] andrey18106 commented on #53
@kevinkuan1969 @ibib Hi! Yea, it's my flaw.

To fix it follow the next steps, before waiting for the next update (I'll re-release 0.1.9 soon):

1. Disable MediaDC via GUI or CLI (`occ app:disable mediadc`)
2. Update file `/lib/Service/UtilsService.php` like in the commit.
3. Connect to your database via GUI or CLI and execute some queries to the Nextcloud database:
    - drop database table `*pref

[2022-02-17 09:52] moutasem1989 opened #54 "How to install the required dependencies and algorithms on a NextCloud Snap ?"
**Describe the bug**
First install of the MediaDC requires Python dependecies that are not installed:
I am running on a Snap version of NextCloud. When I run MediaDC it premotes me to Configure application dependencies on Configuration page. however, on the Configuration page, MediaDC is inable of installing the required dependencies.
 Nextcloud Log:
`Error | mediadc | [AppUpdateStep] Python depen

[2022-02-17 12:57] andrey18106 commented on #54
@moutasem1989 Hi, we don't support snap, until the cloud_py_api framework is released and MediaDC migrated to use it.

[2022-02-17 12:58] daufveila commented on #53
I had the same issue and was able to solve it with this

[2022-02-17 13:04] moutasem1989 commented on #54
@andrey18106 is there a timeframe for that?
Thank you again for the great job !

[2022-02-17 15:38] kevinkuan1969 commented on #53
Thanks @andrey18106 and it works.

[2022-02-17 18:48] andrey18106 commented on #54
@moutasem1989 There is no timeframe, as soon as it's ready) We're working on it, but generally planning migration to using of framework for MediaDC 0.2.0-0.2.1 release.

[2022-02-20 06:34] ibizaman opened #55 "Add pagination"
**Description**
I ran a task and have a lot of files that matched: `Photos 153957 files (350.47 GB) (precision: 100%) `
When opening the task, I see a bunch of web requests to `https://my.nextcloud.com/index.php/apps/mediadc/api/v1/tasks/3`, and they all time out (> 30 seconds) or do return but the response is huge: `content-length: 338923` gzipped.
Everything is pretty slow on this page.

I propo

[2022-02-20 21:49] andrey18106 commented on #55
@ibizaman Hi! Thanks for the issue. Yea, it seems like you have a lot of duplicate groups so that it becomes too big web request (which querying the list every 5 seconds) to fit in timeout. I didn't tested it with such amount, I think I will add batch loading for duplicate groups list in a future updates.

For now, you can split your big folder into small ones as a workaround and try to work with

[2022-02-21 05:49] ibizaman commented on #55
Thanks! I thought about doing the workaround as you said. I… was lazy to try it but it seems like it’s a start. Then when all subfolders are done ill try the root folder again.

[2022-03-04 08:37] DasGreff commented on #53
I have the same issue here with the  v0.1.9, even on fresh install and database cleanup

I'm on Nextcloud 22.2.5
Python 3.8.10
Ubuntu 20.04.4 LTS
PHP : 7.4.25
MariaDB : 10.5.12

[2022-03-04 17:11] andrey18106 commented on #53
@DasGreff Yea, it seems like something another causing an issue. Unfortunately, because of the war in Ukraine, I could investigate this later, as soon as it is possible, but for now, as for a quick view - looks like Dependency Injection not working for some reason. Are you using Nextcloud Docker or manual installation?

Try to install MediaDC manually by cloning this repository into your Nextcloud

[2022-03-04 17:32] DasGreff commented on #53
It's a manual instalation of Nextcloud inside an LXC caontainer

I had the same issue instaling mediadc by cloning it, i rolled back to v 0.1.8

@andrey18106 hope you are safe, take care of yourself first, this can wait

[2022-03-04 18:12] andrey18106 commented on #53
@DasGreff Thanks, I'm safe for now.

Just a little question, why in your error logs, `collectorService` written from the small letter - of course, it can't find it, because there is CollectorService in a capital case.

Can you describe your configuration in more detail, to have an overall understanding, of why it could happen?

With MediaDC v0.1.8 it works fine?

[2022-03-08 15:51] DasGreff commented on #53
Yes it works fine with v0.1.8

I installed Nextcloud with the archive file downloadable on nextcloud site on my ubuntu which is a lxd container
I then installed MediaDC app with the appstore within the nextcloud app

If you'll need more info, i will provide them

[2022-03-20 12:14] #20 closed

[2022-03-22 15:12] JonathanTreffler opened #56 "Linuxserver Docker Solution"
I created a [docker-mod](https://github.com/linuxserver/docker-mods) for the linuxserver nextcloud docker, that installs all dependencies needed for MediaDC.
It can be installed simply by adding the following environment variable to the docker run command/docker compose file:
`DOCKER_MODS=linuxserver/mods:nextcloud-mediadc`

Would be great if this could be added to the wiki.

Links:
- [Linuxserver

[2022-03-25 21:56] andrey18106 commented on #56
@JonathanTreffler Hi! Thanks for your effort!

Added short info about that [in our docs](https://github.com/andrey18106/mediadc/wiki/Installation), if you have any additions or corrections - feel free to write here.

[2022-04-28 08:09] emptinessboy opened #57 "`'ascii' codec can't encode characters in position 49-50: ordinal not in range(128)`"
**Describe the bug**
Exception(UnicodeEncodeError): `'ascii' codec can't encode characters in position 49-50: ordinal not in range(128)`

**To Reproduce**
When I use a folder contain Chinese characters.

**Screenshots**
![](https://s3.bmp.ovh/imgs/2022/04/28/dd59381e618d3d7f.png)

**Desktop (please complete the following information):**
[code]

**Additional context**
locate on my system
[code]

I

[2022-04-28 12:12] bigcat88 commented on #57
@emptinessboy Can you run `SHOW VARIABLES LIKE 'character\_set\_%';` request in database and put output here?

[2022-04-28 13:14] emptinessboy commented on #57
I have run it in phpMyadmin, the result is like below.

| Variable_name|Value |
| ----------- | ----------- |
character_set_client|utf8mb4
character_set_connection|utf8mb4
character_set_database|utf8mb4
character_set_filesystem|binary
character_set_results|utf8mb4
character_set_server|utf8mb4
character_set_system|utf8

[![LXjqgA.png](https://s1.ax1x.com/2022/04/28/LXjqgA.png)](https://imgtu.com/i/

[2022-04-29 10:50] bigcat88 commented on #57
Last thing to know, can you execute in console:
`python -c 'import sys; print(sys.getdefaultencoding())'`
code to see maybe python for some reason working in non utf-8 mode(but I doubt this, it look like a bug, will look at it near time).

[2022-05-02 07:54] fromage9747 opened #58 "Cant run pip after local install."
**Describe the bug**
Cant run pip after local install.

**To Reproduce**
Steps to reproduce the behavior:
1. Install App through Nextcloud
2. Navigate to app
3. Click on install for the configuration
4. See error

**Expected behavior**
Install pillow and numpy successfully

**Screenshots**
![image](https://user-images.githubusercontent.com/23147783/166202104-ef8cefc3-dc10-4334-b901-656fb22fa0c9.pn

[2022-05-02 08:54] bigcat88 commented on #58
Do you use snap?

[2022-05-02 09:04] fromage9747 commented on #58
@bigcat88 I do not use snap on my NextCloud instance.  It is not installed.

[2022-05-02 09:18] bigcat88 commented on #58
@fromage9747 `python3 -m pip -V`  post output of this, so we can check it, maybe some bug in version parsing...

[2022-05-02 09:21] fromage9747 commented on #58
@bigcat88

Below is the output:

[code]

![image](https://user-images.githubusercontent.com/23147783/166212786-f0af8db1-b33a-4a2d-9c71-d7781ed8cdbc.png)

[2022-05-02 09:31] bigcat88 commented on #58
Looks like you have multiply pythons...
You need to provide path to python3.9 in config of MediaDC.

in MediaDC admin settings configure python_command with full proper path to python 3.9
you can search for python probably with `where python3` command in Linux.

P.S.: we will check with python 3.6 for that strange behaviour...

[2022-05-02 09:32] fromage9747 commented on #58
@bigcat88 Thank you for the feedback.  I will make the changes and get back to you if there are any issues.

[2022-05-02 11:01] fromage9747 commented on #58
@bigcat88 I have made the required changes and it is working as expected under python3.9.  Thank you for your speedy response and assistance.

[2022-05-03 08:51] emptinessboy commented on #57
[![Ok4PXj.png](https://s1.ax1x.com/2022/05/03/Ok4PXj.png)](https://imgtu.com/i/Ok4PXj)

[code]

[2022-05-03 08:55] emptinessboy commented on #57
It seems that python is running in utf-8 mode(I use python3 in /user/bin/python3), or maybe the .py program doesn't regster in utf8 mode curroctly?

[2022-05-03 10:12] bigcat88 commented on #57
utf-8 is the default python3 mode. problem is that i created a folder with china, ukrainian and english symbols and it was processed correctly, so i can't find how to get this bug to debug it for mysef...
i am thinking of this, maybe will find some idea how to find this bug...

[2022-05-04 12:49] codereptile opened #59 "Request for auto-delete smaller files"
I have recently ran into a problem, where I had about 4000 groups of identical images. This was caused due to one of my applications on PC creating a smaller preview file for every picture. Obviously, grinding through several thousand groups is not an option, so a there could be a feature 'delete the smallest file in every group', which would delete any file in the group, if its, say less than 50%

[2022-05-09 20:29] bigcat88 commented on #57
Soon will be a newer version posted, maybe there will be no this bug(but maybe will be still)
If new version will still not work, is there any chances to test-run it on a newer version of python? Like 3.7-3.8 ?

[2022-05-21 11:36] bigcat88 commented on #57
Maybe not so soon as I expected, my part is done, but PHP part that are maintained by Andrey are still in progress. Just waiting...

[2022-05-23 14:45] schmurgel-tg opened #60 "Request for 'export results'"
It would be nice if I could export the results of a task.
My first task finished with over 11k groups. It would help, if I could simply export those results, for example into a xml file, with the groups and filename (full name) as elements, or in a plain textfile.

[2022-05-25 19:04] GrumpyMeow opened #61 "Support for .nomedia/.noimage for exclusion"
**Description**
In Nextcloud it is possible to put a specific named file (.nomedia or .noimage) in a folder to exclude it from the photos-app. It would be nice to align mediadc with this functionality and thus exclude these folders.

[2022-05-26 19:32] bigcat88 commented on #61
python part with this commit will ignore all files in directories where `.nomedia` or `.noimage` present and they will not be counted as processed.
Sub directories will not be ignored.

[2022-05-31 18:43] GrumpyMeow opened #62 ""Not enough permitions to delete file""
**Describe the bug**
I keep getting the error message "Not enough permitions to delete file". But i don't know how to resolve the issue.

Which user is being used for deletion?

[2022-06-03 18:09] andrey18106 commented on #62
@GrumpyMeow Current authorized user is used for file deletion. Can you check logs for related messages after trying to delete such files? Are these files shared or you can't delete your own files?

[2022-06-04 10:05] kotjarka opened #63 "Jump to page"
**Description**
When working with big number of duplicate groups it will be useful to jump to specified page.

**Example**
![Screenshot_20220604_120224](https://user-images.githubusercontent.com/28064012/171994607-ec4c65dd-4b72-4bb1-aa0e-4ee70f1e49dc.png)
In this case, when want to start from page 423, must first click 422 times next '>' button

[2022-06-15 08:37] corsch opened #64 "Option to set PHP path to avoid open_basedir errors"
**Description**
If PHP is hardened by open_basedir you get a lot of "open_basedir restriction in effect." errors in the nextcloud.log

It looks like the MediaDC App is searching for the follolowing forbidden paths for php:
/usr/local/sbin/php7.4.30
/usr/local/bin/php7.4.30
/usr/sbin/php7.4.30
/usr/bin/php7.4.30
/sbin/php7.4.30
/bin/php7.4.30
/usr/local/sbin/php7.4
/usr/local/bin/php7.4
/usr/sbin/p

[2022-06-29 20:25] lsoliveira459 opened #65 "Auto compute hash for newly scanned/uploaded files."
**Description**
I believe it would be interesting to automatically calculate hash for any new file uploaded or found during scan.

[2022-07-14 12:55] Cerial1 commented on #51
Hey, im using nextcloud:latest Docker image with Docker 20.10.12 on linux, amd64. Wich command should i run to install phyton?

[2022-07-17 11:28] Daddy-ohh opened #66 "Image files shown as duplicates, but file size and name differs"
![Image1](https://user-images.githubusercontent.com/93015741/179395731-173ab3d0-56c2-4e24-8438-ed2fe1e4cdbb.gif)
![Image2](https://user-images.githubusercontent.com/93015741/179395767-0e67e0f2-5f57-4bf0-bcd4-2c56b249a68a.gif)
![Image3](https://user-images.githubusercontent.com/93015741/179395838-1636fbe7-3962-4f60-b41a-dd4b987cf019.gif)

Can you explain why the files shown in the images attached a

[2022-08-08 07:39] mderasse opened #67 "Could not resolve ..."
Hello,

**Describe the bug**
Following the installation of the app (manually or through the nextcloud apps) i'm not able to configure / use the application.
MediaDC settings are not showing up and call to apps/mediadc/api/v1/settings return 500

**To Reproduce**
Steps to reproduce the behavior:
1. Install the apps
2. Go to Media DC settings

**Environment:**
 - OS: Docker (nextcloud:apache + neede

[2022-08-08 09:01] andrey18106 commented on #67
A [serverinfo](https://github.com/nextcloud/serverinfo) app is required for MediaDC settings (for the bug report section).

You can manually install it:

`git clone https://github.com/nextcloud/serverinfo.git --depth 1 -b $NEXTCLOUD_VERSION nextcloud/apps/serverinfo`
`php -f nextcloud/occ app:enable serverinfo`

where `$NEXTCLOUD_VERSION` - your Nextcloud server version tag `v24.0.3`

After that,

[2022-08-08 09:25] mderasse commented on #67
Thanks for the quick reply.

I actually already had serverinfo but it wasn't enabled ...
Enabling it and reinstalling MediaDC did fix the issue.

Thank you for your amazing work and your help !

Have a nice day!

[2022-08-08 09:25] #67 closed

[2022-08-13 12:47] bonswouar opened #68 "A more general integration with the Photos app"
**Description**
I know this is kinda out of scope of the goal of this app, but I had this idea I wanted to share.
It could be pretty cool (& useful I think) to be able to have a sub-menu when opening a media, in the sidebar or something, to find other "similar" media.

**Example**
I set a new MediaDC task with a threshold of 75%, and set it as "default for Photos app sidebar".
After it's done I ca

[2022-08-22 07:38] Airell commented on #58
I'm having the same issue, however, I'm using snap (as asked per 2 May).
Installing with `/usr/bin/python3` results in `Cant run pip after local install.` / `Installation failed. Some server error occured`.
Installing and Checking with `/usr/bin/python3.8` results in `Python version is lower then 3.6.8 or not available (result_code:127)`

[code]
Manual install via pip does not clear the errors.

U

[2022-08-24 20:14] LucasEngel2 commented on #58
I'm having the exact same problems as @Airell.

[2022-09-28 11:09] p-bo opened #71 "Use Transifex for continuous translation please"
Hello,
would it be possible to follow instructions on:
https://docs.nextcloud.com/server/latest/developer_manual/basics/front-end/l10n.html#adding-translations
...and gain benefits from work of whole Nextcloud translators community for users of your app please?

For instance:

- much more translators will get involved, because without it, they will newer even know about possibility to translate th

[2022-10-08 22:45] schnellschnell opened #72 "feat: display file metadata in the file details sidebar"
**Description**
Display/Allow for the [Metadata-App](https://apps.nextcloud.com/apps/metadata) which displays file metadata in the file details sidebar in the sidebar.

**Example**
<img width="1078" alt="Bildschirmfoto 2022-10-09 um 00 39 40" src="https://user-images.githubusercontent.com/8081206/194730208-3ac4a789-50eb-4033-8241-d931decf327b.png">

[2022-10-20 11:10] rakekniven opened #73 "Make app compatible with NC v25"
Today NC25 is out and this app needs some love ❤️ .

[2022-10-21 10:07] andrey18106 commented on #71
@p-bo Added continuous translation, now it's available on [Nextcloud Transifex Project](https://www.transifex.com/nextcloud/nextcloud/mediadc/).

[2022-10-21 10:07] #71 closed

[2022-10-21 11:12] p-bo commented on #71
Many thanks @andrey18106 and @nickvergessen - appreciated! :-)

[2022-10-21 14:34] YouveGotMeowxy opened #74 ""Update" error"
**Describe the bug**

Error when clicking the "update button for any of the plugins. Happens with all of the plugins. Then I have to do a "Check Installation" again to show the list of plugins, and it'll also show Installed = True.

**To Reproduce**
Just click the Update button

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://

[2022-10-23 04:00] Doomsdayrs opened #75 "Batch delete"
**Description**
A batch option to delete all files on left / right.

[2022-10-23 17:13] PAStheLoD commented on #53
Hi, just one more datapoint, I get a similar error on version 0.1.9 on Hetzner's Storage Share 24.0.5 (which is their branded nextcloud [fork?]). Unfortunately it seems there's no way to access the server logs.

[2022-10-29 15:52] roliverio commented on #71
Hi, would like to know if the string mappings currently under l10n/*.js should be expanded to effectively use the rest of strings that belong to the app (currently 224). Thanks.

[2022-10-29 16:14] nickvergessen commented on #71
No, l10n/ is overwritten every night by the sync bot. If something is missing in the app the source code needs to be modified so that our translation tool can correctly extract it into the files that are then synced and turned into the l10n files afterwards

[2022-10-29 16:16] roliverio commented on #71
Sorry, maybe my comment was not clear enough, i do know that the bot updates translations automatically, but my question was more geared towards knowing exactly what you're now saying, you'll need to modify the code to include the rest of the strings that are missing even if they're already on Transifex. Thanks! (working on them as we speak)

[2022-10-29 16:37] roliverio opened #80 "Typo fix for string"
Hi!

Please fix the "updateing" string on:

https://github.com/andrey18106/mediadc/blob/main/js/mediadc-settings.js
https://github.com/andrey18106/mediadc/blob/main/js/mediadc-settings.js.map
https://github.com/andrey18106/mediadc/blob/main/src/components/settings/AdminSettings.vue

To "updating"

Proper change to the l10n mappings is also required.

Thanks!

[2022-10-29 19:08] p-bo commented on #71
@roliverio On Transifex are strings from newest revision of source code, whereas you are using latest released version. Thus it should be, that strings, that were translated after release was done, are translated on Transifex, but not in current release (which is thus behind). Don't worry, just wait for newer release, which will have newest translations merged. If you want to test how strings fits

[2022-10-29 21:18] andrey18106 commented on #80
@roliverio Hi! Nice catch, thanks!

[2022-10-29 21:18] #80 closed

[2022-10-30 12:53] p-bo commented on #71
@roliverio maybe understand now:
![obrazek](https://user-images.githubusercontent.com/12208593/198879135-6bb0d4b9-fd8b-4d1f-8089-01f78296b7f2.png)
It seems, that especially for admin settings, source strings are not extracted from source code by bot to Transifex at all (these strings are not present on Transifex, thus not in .js and .json files). Example of such strings:
https://github.com/andrey1

[2022-11-03 17:03] phil-lipp commented on #73
It's working quite fine for me, or at least it appears so. I can set up scans and they finish. But deleting them is tedious, because I can't scroll downwards in the /apps/mediadc/tasks window

[2022-11-03 17:11] andrey18106 commented on #73
@phil-lipp Yes, it'll work, but Frontend part have breaking changes in NC25 (scroll won't work) and MediaDC for now is not supported officially with Nextcloud 25 version. Update for that is in development. Stay tuned.

[2022-11-08 18:58] roliverio opened #82 "Typos fix for appropiate translation."
Typo fix:

**dependecies** -> _dependencies_

On:

js/mediadc-src_views_Configuration_vue.js.map
js/mediadc-src_views_Configuration_vue.js
lib/Controller/PythonController.php

**occured** --> _occurred_

On:

js/mediadc-settings.js
js/mediadc-main.js.map
js/mediadc-src_views_CollectorDetails_vue.js
js/mediadc-settings.js.map
js/mediadc-src_views_Collector_vue.js
js/mediadc-src_views_Collector_vue.

[2022-11-14 09:26] datenleck opened #85 "`dhash` is not available."
Hi,

I installed the App on my NC 25.0.1,
Linux Debian 11, PHP-FPM 8.0.25, Python 3.9

I removed any python 2 software, but the error appears after a few seconds.

The error message "`dhash` is not available." appears in the MediaDC error.
![grafik](https://user-images.githubusercontent.com/47418901/201621703-db8fbef1-0db1-41b5-bc76-e973796a2847.png)

[2022-11-14 10:25] bigcat88 commented on #85
do you have installed numpy and pillow packages?

[2022-11-14 10:56] datenleck commented on #85
Thank you!
apt install python3-numpy/stable
apt install python3-willow/stable
This did the trick obviously!

[2022-11-14 10:56] #85 closed

[2022-11-14 11:11] bigcat88 commented on #85
Just a note: this project use **Pillow**, not a **Willow**

[2022-11-14 13:19] datenleck commented on #85
Yes, but I didn't find Pillow... and Willow seems to include Pillow

# pip3 search pillow
ERROR: XMLRPC request failed [code: -32500]
RuntimeError: PyPI's XMLRPC API is currently disabled due to unmanageable load and will be deprecated in the near future. See https://status.python.org/ for more information.

# apt search python | grep -i Pillow
python3-pypillowfight/stable 0.3.0-4+b2 amd64
  Pytho

[2022-11-15 08:51] datenleck commented on #73
I can't wait! I'm already biting my fingernails... ;-)
Is there a quick fix to solve the scrolling problem?
Thanks!

[2022-11-16 16:53] andrey18106 commented on #73
[MediaDC 0.2.0](https://github.com/andrey18106/mediadc/releases/tag/v0.2.0) for Nextcloud 25 now available.

[2022-11-16 16:53] #73 closed

[2022-11-16 16:58] andrey18106 commented on #82
@roliverio `js` folder - is for js binaries builded from `src`. So, it's enough to change typos in `src` - with app release and while in developing these js-binaries updated regulary.

[2022-11-16 16:58] #82 closed

[2022-11-16 17:00] andrey18106 commented on #64
Added PHP path option in [MediaDC 0.1.10](https://github.com/andrey18106/mediadc/releases/tag/v0.1.10). Closing.

[2022-11-16 17:00] #64 closed

[2022-11-16 17:01] andrey18106 commented on #63
Added "go to page" pagination option in [MediaDC 0.1.10](https://github.com/andrey18106/mediadc/releases/tag/v0.1.10). Closing.

[2022-11-16 17:01] #63 closed

[2022-11-16 17:02] andrey18106 commented on #61
Added in [MediaDC 0.1.10](https://github.com/andrey18106/mediadc/releases/tag/v0.1.10). Closing.

[2022-11-16 17:03] #38 closed

[2022-11-16 17:04] andrey18106 commented on #37
Added in [MediaDC 0.1.10](https://github.com/andrey18106/mediadc/releases/tag/v0.1.10). Closing.

[2022-11-16 17:04] andrey18106 commented on #36
Added in [MediaDC 0.1.10](https://github.com/andrey18106/mediadc/releases/tag/v0.1.10). Closing.

[2022-11-16 17:04] #36 closed

[2022-11-16 17:05] andrey18106 commented on #31
Added "Resolved" in [MediaDC 0.1.10](https://github.com/andrey18106/mediadc/releases/tag/v0.1.10). Closing.

[2022-11-16 17:05] #31 closed

[2022-11-16 17:05] #30 closed

[2022-11-16 17:06] andrey18106 commented on #40
Closing as invalid.

[2022-11-16 17:07] andrey18106 commented on #27
MediaDC Docker Alpine example available [here](https://github.com/andrey18106/mediadc-docker-example).

[2022-11-16 17:07] #27 closed

[2022-11-17 16:20] bonswouar opened #87 "groupFilesIds is not a valid attribute"
**Describe the bug**
Not sure this is breaking anything, but I'm getting occasional error logs since I've updated to NC 25.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. Update to NC 25.0.1

**Expected behavior**
Shouldn't have error logs

**Logs**

[code]

[2022-11-17 17:05] andrey18106 commented on #87
@bonswouar Did you tried to re-enable/re-install MediaDC app? There we have changed on of the database tables, and I see that I forgot to update these changes in the Task finish notification part, but that shouldn't affect the rest of the functionality.

[2022-11-17 17:32] bonswouar commented on #87
I've just reinstalled it and re-ran some task, didn't see any error log!
Although I didn't receive the finish notification either so I'm not sure if that fixed it or if the error is just quiet...

You can close this I guess, I'll comment if I see that the error shows up again

[2022-11-20 14:13] keesfluitman opened #89 "After installation, nothing happens. Settings bugged."
**Describe the bug**
The App loads forever. The settings show an Error (just the word Error).

**To Reproduce**
Steps to reproduce the behavior:
1. Install
2. Start
3. Error

**Expected behavior**
The app to work

**Screenshots**
![bug mediadc](https://user-images.githubusercontent.com/101324355/202906330-d035964f-ac99-4f7b-b45f-353f1b8ae5b2.png)

**Desktop (please complete the following informati

[2022-11-20 15:14] bigcat88 commented on #89
Currently we do no support Unraid OS, come back with next `0.3.0` release and we will se what can we do.

[2022-11-30 17:32] nursoda opened #90 "upgrade handling in 0.3.0-beta.1"
**Describe the bug**
Unexpected "unhandled exception" during app update.

**To Reproduce**
Do `occ app:update --all` on an NC25 instance with `beta` channel; yields
[code]

**Expected behavior**
No "unhandled exception".

**Additional context**
`php occ upgrade` resolves the issue.

[2022-11-30 17:36] bigcat88 commented on #90
Thanks for reporting, look like it is related to web part, **Andrey** will look later...